@{
	ViewBag.Title = "Accueil";
	Layout = Layout = "~/Views/Shared/_LayoutRapportVisite.cshtml";
}
<h2>Accueil</h2>
<div>
	<p>
		Bienvenue dans l'application Gsb' <span style="color:red">@ViewData["Nom"]</span>
	</p>
</div>